# Turn on rewrite engine and hide [index.php](http://_vscodecontentref_/1)
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /track/

    # Allow existing files/directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all to [index.php](http://_vscodecontentref_/2)
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>